@model IEnumerable<Rocky.Models.ModelHomeWork>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">ModelHomeWork List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="ModelHomeWork" asp-action="Create" class="btn btn-primary">
                Create New ModelHomeWork
            </a>
        </div>
    </div>


    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        ModelHomeWork Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%">@obj.Name</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No category exist.</p>
    }


</div>